<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= t('products.form.name') %></th>
      <th><%= t('products.form.price') %></th>
      <th><%= t('cart_products.form.quantity') %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_products.each do |cart_product| %>
      <tr>
        <td><%= cart_product.product.name %></td>
        <td data-target="product.price"><%= cart_product.product.price %></td>
        <td><%= number_field_tag :quantity, cart_product.quantity, min: 1, data: { action: 'keyup->product#sum', target: 'product.quantity' } %></td>
        <td>
          <%= link_to t('remove'), cart_product_path(cart_product), class: 'button is-danger is-small', remote: true, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
