<%= form_with model: @product, data: { controller: "form" } do |f| %>
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="field">
        <%= f.label :name, t('products.form.name'), class: :label %>
        <div class="control has-icons-right">
          <%= f.text_field :name, class: :input, required: true, data: { action: 'blur->form#blur' } %>
          <span class="icon is-small is-right">
            <i class="fas fa-times-circle"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <div class="field">
        <%= f.label :price, t('products.form.price'), class: :label %>
        <div class="control has-icons-right">
          <%= f.text_field :price, class: :input, required: true, data: { action: 'blur->form#blur' } %>
          <span class="icon is-small is-right">
            <i class="fas fa-times-circle"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <%= f.submit t('save'), class: 'button is-primary' %>
    </div>
  </div>
<% end %>
