  
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= t('products.form.name') %></th>
      <th><%= t('products.form.price') %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to t('edit'), edit_product_path(product), class: 'button is-info is-small', remote: true %>
          <%= link_to t('remove'), product_path(product), class: 'button is-danger is-small', remote: true, method: :delete %>
          <%= link_to t('add_cart'), cart_products_path(product_id: product.id), class: 'button is-success is-small', remote: true, method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
